<h1>Fruit Shop</h1>

<button mat-flat-button color="primary" (click)="openNewFruitDialog()">
  Create Fruit
</button>

<!-- Grid of cards -->
<div class="fruit-grid">
  <div *ngFor="let fruit of fruits">
    <div class="fruit-card">
      <img [src]="fruit.thumbnailUrl" [alt]="fruit.description" />

      <div class="fruit-card-content">
        <h2>{{ fruit.name }}</h2>
        <p>{{ fruit.description }}</p>
        <p class="fruit-card-price">{{ fruit.pricePerKilo | currency }} / KG</p>
      </div>
    </div>
  </div>
</div>
